@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
.active {
  color: #f1a501 !important;
}
.nav-link {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: #212832;
  transition: color 0.3s ease-in-out;
}
.nav-link:hover {
  color: #f1a501;
}
.nav-button {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
}
.Volhov {
  font-family: "Volkhov", serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}
.boxShadow {
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
}
.backdropblue {
  /* Ellipse 8 */

  position: absolute;
  width: 304px;
  height: 307px;
  z-index: -10;
  top: 0px;
  background: #59b1e6;
  right: 0;
  opacity: 0.8;
  filter: blur(75px);
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.subscribe-btn {
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
}
/* Ellipse 31 */

.ellipse-31 {
  background: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
}
.angular {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #b8d2f1 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
